table {
    border-collapse: collapse;
  }
body{
    margin: 250px  250px 250px 250px;
    background-image: url(Minecraft-Aesthetic-Wallpaper-Free-Download.png) ;
    background-size: cover;
    color: whitesmoke;
}

.wemmbu{
    float: right;
}
#belsokeret{
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 50px;
    padding-bottom: 200px;
}

.idezo{
    font-size: 30px;
}

.debut{
    text-align: right;
    font-size: larger;
    
}

.anyu{
    float: right;
    width: 200px;
}
#baba{
    float: right;
}
