
.hatter {
    margin-top: 100px;
    margin-right: 50px;
    margin-left: 50px;
}
.kepbal{
    float: left;
    width: 250px;
}
.kepjobb{
    float: right;
    width: 250px;
}
.kepek{
    width: 150px;
    height: 300px;

}

body{
    background-image: url(Minecraft-Aesthetic-Wallpaper-Free-Download.png);
}