
.hatter {
    margin-top: 100px;
    margin-right: 50px;
    margin-left: 50px;
}
.kepbal{
    float: left;
    width: 250px;
}
.kepjobb{
    float: right;
    width: 250px;
}
.kepek{
<<<<<<< HEAD
    width: 250px;
    height: 250px;
}
#bevezeto{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 200px;
    font-size: large;
}
#belsodiv{
    width: auto;
    height: 1000px;
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 50px;
    
}
body{
    color: whitesmoke;
=======
    width: 150px;
    height: 300px;
>>>>>>> 6f047fdec427ed8acb141486d65d5af78ffc90c9

}